.root{
    position: block;
}
.tic_tac{
    display: block;
}
.tic_tac h1{
   text-align: center;
    margin-top: 100px;
}
.container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    width:300px;
   height: 300px;
   border:solid 2px black;
   gap: 0;
   margin-left: auto;
   margin-right: auto;
    }
    .turn{
        text-align: center;
        font-weight: 800;
    }
.cell{
    background-color: aqua;
    border: solid 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    }    